/* CUSTOM CSS */
  div.page {
    height: 100vh;
    color: #fff;
  }

  #helmet {
    max-height: 45vh;
  }
  #fact-container {
    max-height: 25vh;
    text-align: center;
    overflow: hidden;
  }

  img.vpsize { 
    height: 45vh !important;
    height: 45vmin;
  }
  .top-buffer { margin-top: 25px; margin-top: 5vh; }
  .bottom-buffer { margin-bottom: 25px; margin-bottom: 5vh; }
  h1.vpsize {
    font-size: 5.5vh !important;
    font-size: 4vmin;
  }
  p.vpsize {
    font-size: 3.5vh !important;
    font-size: 1.5vmin;
  }

  @media (max-width: 767px) {
    h1.vpsize {
      font: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 4.8vh !important;
      font-size: 4vmin;
    }
    p.vpsize {
      font-size: 2.8vh !important;
      font-size: 1.5vmin;
    }
    .abutton {
      font-size: 1.8vmax !important;
    }
  }

  #mybutton {
    visibility: hidden;
    max-height: 10vh;
    margin: 0 auto;
  }

  .abutton {
    float: none;
    position: relative;
    display: inline-block;
    height: 5vh;
    border: 2px solid #fff;
    border-radius: 0.8vmin;
    color: #fff;
    font-size: 2vh;
    padding: 1vh;
  }

  .abutton:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer; cursor: hand;
  }