/* CUSTOM CSS */
  div.page {
    min-height: 100vh;
    color: #fff;
  }

  #helmet {
    max-height: 40vh;
  }
  #fact-container {
    max-height: 25vh;
    text-align: center;
    overflow: hidden;
  }

  hr {
     border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
  }

  img.vpsize { 
    height: 40vh
  }
  .top-buffer { margin-top: 15px; margin-top: 2.5vh; margin-bottom: -15px; margin-bottom: -0.5vh; }
  .bottom-buffer { margin-bottom: 25px; margin-bottom: 5vh; }
  h1.vpsize {
    font-size: 5.5vh;
  }
  p.vpsize {
    font-size: 3.5vh;
  }

  span#seperator {
    display: inline-block;
    position: absolute;
  }

  @media (max-width: 767px) {
    h1.vpsize {
      font: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 4.8vh;
    }
    p.vpsize {
      font-size: 2.8vh;
    }
    .abutton {
      font-size: 1.8vmax;
    }
  }

  #mybutton {
    visibility: hidden;
    max-height: 10vh;
    margin: 0 auto;
  }

  .abutton {
    float: none;
    position: relative;
    display: inline-block;
    height: 5vh;
    border: 2px solid #fff;
    border-radius: 0.8vmin;
    color: #fff;
    font-size: 2vh;
    padding: 1vh;
  }

  .abutton:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer; cursor: hand;
  }